@import '../../Styles/mixins';

.footer {
    padding: 40px 16px;
    background: rgb(250, 0, 80);
    color: white;
}

.footer__container {
    max-width: 900px;
    margin: 0 auto;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    @include breakpoint(md) {
    justify-content: space-between;

    }
}

.footer__list {}

.footer__item {
    list-style: none;
    padding: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.footer__divider {
    border-top: 1px solid rgb(255, 255, 255);
    margin: 18px 0px;
}

.footer__repentance {}

.footer__repentance_text {
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 8px 0px;
    margin: 0px;
    text-align: left;
}

.footer__repentance_text_link {
    color: rgb(255, 255, 255);
    margin-left: 4px;
}

.footer__legal_info {
    display: flex;
    justify-content: space-between;
}

.footer__legal_info_text {
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding: 8px 0px;
    margin: 0px;
    text-align: left;
}

.footer__legal_info_link {
    color: rgb(255, 255, 255);
    margin-left: 4px;
}